# Checkpoint Four: Manipulating Data

Now ready to manipulate your data. Before starting coding, provide the link to your dataset below.

My dataset::https://www.kaggle.com/datasets/mirichoi0218/insurance

Import the necessary libraries and create your dataframe(s).

In [3]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
# Implementation of matplotlib function
import matplotlib.pyplot as plt
import matplotlib.lines as lines
# read csv file
df = pd.read_csv("Medical_Cost_Insurance_MCI.csv")
#print(df.shape)
df.info() #print dataframe columns, no nullvalues, count, datatype of dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [5]:
# creating data frame
df_bmi = df[["bmi", "age"]]

In [6]:
df_1 = df_bmi.groupby("age")["bmi"].mean()

In [8]:
#creatiing new csv file
df_1.to_csv("Manipulation_MCI.csv")

In [13]:
# read  new csv file
df_new = pd.read_csv("Manipulation_MCI.csv")
df_new

    age        bmi
0    18  31.326159
1    19  28.596912
2    20  30.632759
3    21  28.185714
4    22  31.087679
5    23  31.454464
6    24  29.142679
7    25  29.693929
8    26  29.428929
9    27  29.333571
10   28  29.482143
11   29  29.383148
12   30  30.557593
13   31  29.918333
14   32  31.597692
15   33  31.163077
16   34  30.274038
17   35  31.394800
18   36  29.374200
19   37  31.216600
20   38  28.996600
21   39  29.910200
22   40  30.139074
23   41  31.506852
24   42  30.328148
25   43  30.204444
26   44  30.844259
27   45  29.778966
28   46  31.340862
29   47  30.664310
30   48  31.925690
31   49  30.313929
32   50  31.132241
33   51  31.727069
34   52  32.936034
35   53  30.360893
36   54  31.234286
37   55  31.950000
38   56  31.600962
39   57  30.844423
40   58  32.718200
41   59  30.572000
42   60  30.332826
43   61  32.548261
44   62  32.342609
45   63  31.923478
46   64  32.976136

In [16]:
# creating data frame
df_region = df[["region", "charges"]]

In [23]:
df2 = df_region.groupby("region")["charges"].sum()

In [24]:
#creatiing new csv file
df2.to_csv("Manipulation_MCI_Region.csv")

In [25]:
# read  new csv file
df_new = pd.read_csv("Manipulation_MCI_Region.csv")
df_new

      region       charges
0  northeast  4.343669e+06
1  northwest  4.035712e+06
2  southeast  5.363690e+06
3  southwest  4.012755e+06